{% load i18n %}
{% load widget_tweaks %}

{% if field.use_fieldset %}
  <fieldset>
    {% if field.label %}{{ field.legend_tag }}{% endif %}
{% else %}
  {% if field.label %}{{ field.label_tag }}{% endif %}
{% endif %}
{% if field.errors %}
  {{ field|add_class:"is-invalid" }}
{% else %}
  {{ field }}
{% endif %}
{% if field.help_text %}
  <div class="helptext text-secondary small fst-italic mt-1">
    {{ field.help_text|safe }}
  </div>
{% endif %}

{% if field.errors %}
  {% language "es" %}
    {% for error in field.errors %}
      <div class="alert alert-danger mt-1 py-2 px-3"
           role="alert">{% translate error|safe %}</div>
    {% endfor %}
  {% endlanguage %}
{% endif %}

{% if field.use_fieldset %}</fieldset>{% endif %}
