<nav class="me-auto d-flex d-none d-md-block ps-4 border-start"
     aria-label="breadcrumb">
  <ol class="breadcrumb m-0">
    {% if first_item %}
      <li class="breadcrumb-item active fw-bold"
          aria-current="page">{{ first_item }}</li>
    {% endif %}
    {% for breadcrumb in items %}
      <li class="breadcrumb-item" aria-current="page">
        {% if breadcrumb.url %}
          <a href="{{ breadcrumb.url }}"
             class="link-light">{{ breadcrumb.title }}</a>
        {% else %}
          {{ breadcrumb.title }}
        {% endif %}
      </li>
    {% endfor %}
    {% if last_item %}
      <li class="breadcrumb-item active" aria-current="page">
        {{ last_item }}</li>
    {% endif %}
  </ol>
</nav>
