<div class="toast-container position-fixed top top-0 end-0 py-5 px-2" style="z-index: 11" id="messages">
  <!-- Base message -->
  {% include 'common/_message.html' with message_id='base-message' %}
  <!-- Request message -->
  <div id="request-message" class="toast bg-info align-content-center text-bg-info" data-loading-class="show" role="alert">
    <div class="d-flex flex-row align-content-center">
      <div class="spinner-grow spinner-grow-sm text-light ms-3 my-auto" role="status"></div>
      <div class="toast-body">Espere por favor...</div>
    </div>
  </div>
  <!-- Messages -->
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      {% include 'common/_message.html' with bg='danger' %}
    {% else %}
      {% include 'common/_message.html' with bg=message.level_tag %}
    {% endif %}
  {% endfor %}
</div>
