{% load tags %}

<nav class="navbar navbar-expand-lg dx-bg-navbar py-1">
  <div class="container-fluid ps-0">
    <div class="d-flex flex-row dx-w-navbar fw-bold">
      <button id="sidebar-toggle-btn"
              type="button"
              class="btn border-0 text-white"
              data-bs-toggle="collapse"
              data-bs-target="#sidebar"
              aria-expanded="true"
              aria-controls="sidebar">
        <i class="bi bi-list"></i>
      </button>
      <a class="navbar-brand ms-2 {% if DEBUG %} text-danger{% else %}text-white{% endif %}" href="{% url 'core:index' %}">
        Minerva ERP
      </a>
    </div>
    {% breadcrumb %}
    <button id="toggle-color-mode" class="btn text-white btn-sm me-2">
      <i class="bi bi-moon-fill"></i>
    </button>
    <div class="dropdown me-2">
      <button class="btn text-white btn-sm dropdown-toggle py-1 border-0"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">{{ user }}</button>
      <ul class="dropdown-menu dropdown-menu-end">
        {% if perms.core.list_attachment %}
          <li><a href="{% url "core:user:list_attachment" %}" class="dropdown-item">Descargas</a></li>
        {% endif %}
        <li><hr class="dropdown-divider"></li>
        <li>
          <form action="{% url 'core:auth:logout' %}" method="post">
            {% csrf_token %}
            <button class="dropdown-item">Cerrar sesión</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
