{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Orientación vocacional{% if page_title %} | {{ page_title }}{% endif %}</title>
    <link type="image/x-icon" rel="icon" href="{% static 'favicon.ico' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.min.css' %}" />
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}" defer></script>
    <script src="{% static 'js/htmx/htmx.min.js' %}" defer></script>
    <script src="{% static 'js/htmx/ext/loading-states.min.js' %}" defer></script>
  </head>
  <body hx-ext="loading-states">
    {% if user.is_authenticated %}
      {% include 'common/_navbar.html' %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-auto px-0 border-end">
            {% include 'common/_sidebar.html' %}
          </div>
          <main class="col px-3 py-3 py-md-2">
            <h5 class="fw-bold mt-2 mb-4 text-primary-emphasis">{{ page_title }}</h5>
            {% block content %}{% endblock %}
          </main>
        </div>
      </div>
      {% include 'common/_messages.html' %}
      <script src="{% static 'js/base.min.js' %}" defer></script>
      {% block scripts %}{% endblock %}
    {% else %}
      <div class="container">{% block login %}{% endblock %}</div>
    {% endif %}
  </body>
</html>
