{% extends 'base.html' %}
{% load tags %}
{% load tags_links %}
{% load tags_buttons %}
{% load tags_forms %}

{% block content %}
  <form method="post" action="{% url 'core:user:change_password' %}" autocomplete="off">
    {% csrf_token %}
    {% non_field_errors form %}

    {{ form.old_password.label_tag }}
    {{ form.old_password }}
    {{ form.old_password.errors }}

    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}
    {{ form.new_password1.errors }}

    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}
    {{ form.new_password2.errors }}

    <div class="mt-3">
      <i class="text-secondary mt-3">
        Al cambiar la contraseña su sesión será cerrada y deberá ingresar nuevamente.
      </i>
    </div>
    <div class="text-end mt-3">
      {% submit_edit %}
    </div>
  </form>
{% endblock %}
